<!doctype html>
{% load crispy_forms_tags %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<html>
    <body>
        {% include 'head.html' %}
        {% include 'navbar.html' %}
        <title> Rejestracja użytkownika </title>
        <link rel ="stylesheet" href ="{% static 'users/style.css' %}">
        <div class="content-wrapper">
          <div class="login-box">
            <a class="login-box-register" href="{% url 'register' %}">Zarejestruj</a>
            <a class="login-box-login login-box-noactive" href="{% url 'login' %}">Zaloguj</a>

            <form method = "POST"  class="login-box-form">
                {% csrf_token %}

                  <div class="container">
                    {{ form.username }}
                    {{ form.email }}
                    {{ form.phone_number }}
                    {{ form.password1 }}
                    {{ form.password2 }}
                    <input type="submit" value="Zarejestruj">
                      {% if form.errors %}
                        <ul class="alert-ul">
                        {% for field in form %}
                            {% for error in field.errors %}
                                    <li>{{ error|escape }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                                <li>{{ error|escape }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                     {% for message in messages  %}
                        {% if 'warn' in message.tags %}
                            <p style ="color: red">{{message}}</p>
                        {% endif %}
                    {% endfor %}
                  </div>
            </form>

            <div class="login-box-login-as">
              <div class="login-box-login-as-header">
                Zaloguj przez:
              </div>
              <div class="login-box-login-as-socials">
                <div class="login-box-login-as-social">
                  <a href="{% provider_login_url "facebook" method="oauth2" %}">
                    <div class="facebook"></div>
                  </a>
                </div>

                <div class="login-box-login-as-social">
                  <a href="{% provider_login_url "google" %}">
                    <div class="google"></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
    </div>
        {% include 'footer.html' %}
    </body>
</html>
